/* Global Styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

/* Navbar Styles */

.navbar-wrapper {
    padding: 10px;
}

/* Home Page Styles */

/* Todo Page Styles */

.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.todo-main {
    display: flex;
    
}

.todo-list-container {
    border: 2px solid;
    border-radius: 10px;
    height: 60vh;
    width: 50vw;
    display: flex;
    justify-content: center;
}

.todo-create-task {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 10px;
    width: 17vw;
    height: 20vh;
    position: absolute;
    left: 50px;
    padding: 5px;
}

.todo-create-task input {
    width: 70%;
    padding: 2px;
}






/* Calendar Page Styles */