@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

  --color-primary: #F80;
  --color-secondary: #222222;
  --color-accent: #CDD3D5;
  --color-neutral: #F2F0EF;

  --font-primary: "Be Vietnam Pro", sans-serif;

  --font-size-sm: 0.875rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;

}

/* Global Styles */

html, body, #root {  /* no scrollbars */
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-neutral);
  font-family: var(--font-primary);
}



