:root {


  --clr-primary: #27374D;
  --clr-secondary: #526D82;
  --clr-accent: #9DB2BF;
  --clr-neutral: #DDE6ED;

  /* rgb values to add opacity later with rgba */
  --clr-primary-rgb: 39, 55, 77;
  --clr-secondary-rgb: 82, 109, 130;
  --clr-accent-rgb: 157, 178, 191;
  --clr-neutral-rgb: 221, 230, 237;

}


/* Reset Basic Styles */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Global Styles */

body {
  color: var(--clr-neutral);
  background-color: var(--clr-primary);
  height: 100vh;
}

main {
  margin: 1.5rem;
  padding: 1.5rem;
}


/* Navbar Styles */

nav {
  background-color: var(--clr-secondary);
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center; 
  gap: 1.5rem;
  padding: 0;
}

nav a {
  color: var(--clr-accent);
  transition: color 0.1s ease-out;
}

nav a:hover {
  color: #27374D;
}




/* Index.html styles */


/* to-do list styles */

.todo-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-main .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.todo-list {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
  border: 3px solid;
}

.input-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-task input {
  flex: 1;
  padding: 7px 17px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 10px;
  background: rgba(var(--clr-secondary-rgb), 0.5);
  caret-color: var(--clr-neutral);
  color: var(--clr-neutral);
  transition: all 0.15s ease;
}

.input-task input::placeholder {
  color: var(--clr-neutral);
}

.input-task input:focus {
  background: var(--clr-secondary);
  border-color: rgba(var(--clr-neutral-rgb), 0.3);
  transform: scale(1.01);
}

.input-task button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 9px;
  border-radius: 10px;
  border: 2px solid rgba(var(--clr-secondary-rgb), 0.2);
  cursor: pointer;
  transition: all 0.15s ease;
  background: rgba(var(--clr-secondary-rgb), 0.5);
  color: var(--clr-neutral);
}

.input-task button:hover {
  transform: scale(1.1);
  background: var(--clr-secondary);
  border-color: rgba(var(--clr-neutral-rgb), 0.3);
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.todo-container ul {
  padding: 0;

}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--clr-secondary);
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 10px;
  position: relative;
  transition: box-shadow 0.2s ease;

}

.task-list li:hover {
  box-shadow: 0 0  10px rgba(0, 0, 0, 0.1);
}

.task-list li .checkbox {
  min-width: 20px;
  height: 20px;
  border: 2px solid var(--clr-accent);
  background: transparent;
  border-radius: 50%;
  appearance: none;
  cursor: pointer; 
  transition: all 0.2s ease;
}

.task-list li .checkbox:checked {
  background: var(--clr-primary);
  border-color: var(--clr-primary);
  transform: scale(1.1);
}

.task-list li .checkbox:checked::before {
  content: '\2713';
  color: var(--clr-neutral);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}

.task-list li span {
  flex: 1;
  margin: 0 10px;
  word-wrap: break-word;
}

.task-buttons { /* edit and delete buttonss */
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}

.task-buttons button { 
  color: var(--clr-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.3 ease;
}

.task-buttons button:hover {
  color: var(--clr-primary);
  transform: scale(1.2);
}

.edit-btn-input {
  padding: 5px 10px;
  color: var(--clr-neutral);
  border-radius: 10px;
  outline: none;
  background: rgba(var(--clr-primary-rgb), 0.5);
  border: 2px solid transparent;
}